*/db/
*/incremental_db/
*/simulation
*/timing/
*/testbench
/output_files
/incremental_db/
/simulation/
/db/
/hc_output
*.qsf
*.qdf
*.ddb
*.vwf
*.qws
*.bak
*.rpt
*.summary
c5_pin_model_dump.txt
greybox_tmp